version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=BasesDatos2!
    ports:
      - "1433:1433"
    volumes:
      - sqldata:/var/opt/mssql
      - ./init:/docker-entrypoint-initdb.d
    restart: unless-stopped

volumes:
  sqldata:
